<section class="page-content section-padding">
  <div class="container container-narrow">
    <h1 class="page-title">{{ page.title }}</h1>
    <div class="page-body rte">
      {{ page.content }}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Page Content",
  "settings": []
}
{% endschema %}
